.continer-row {
    cursor: "pointer";
    margin: 5px 0px;
}
.continer-name{
    font-size: 18px;
    align-items: baseline;
    width: 190px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}