.container-bar {
    position: sticky;
    height: 50px;
    padding: 10px 0 20px 20px;
    top: 0;
    z-index: 1;
    background-color: #192025;
}

.container-name {
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    font-family: monospace;
}

.continer-tag{
    color: #fff;
}

.more-button {
    background-color: transparent !important;
    color: #fff !important;

    margin-right: 1em;
}
